.containerSignUp {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  img {
    margin-bottom: 1rem;
    border-radius: 50%;
  }

  form {
    margin-top: -20px;
  }

  button {
    margin-top: 1.3rem;
  }
}

.link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}